﻿<%@ Page Title="" Language="C#" AutoEventWireup="true"
    MasterPageFile="~/Site.Master" CodeBehind="ErrorPage.aspx.cs"
    Inherits="StudentVibes.ErrorPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Error:</h2>
    <asp:Label ID="FriendlyErrorMsg" runat="server" Text="Label" Font-Size="Large" Style="color: red"></asp:Label>
    <asp:Panel ID="DetailedErrorPanel" runat="server" Visible="false">
        <script>
            $(document).ready(function () {
                /*! Fades in page on load */
                $('body').css('display', 'none');
                $('body').fadeIn(800);
            });
        </script>
        <p>&nbsp;</p>
        <h4>Detailed Error:</h4>
        <p>
            <asp:Label ID="ErrorDetailedMsg" runat="server" Font-Size="Small" /><br />
        </p>

        <h4>Error Handler:</h4>
        <p>

            <asp:Label ID="ErrorHandler" runat="server" Font-Size="Small" /><br />
        </p>

        <h4>Detailed Error Message:</h4>
        <p>
            <asp:Label ID="InnerMessage" runat="server" Font-Size="Small" /><br />
        </p>
        <p>
            <asp:Label ID="InnerTrace" runat="server" />
        </p>
    </asp:Panel>
</asp:Content>
