﻿<%@ Page Title="Terms and Conditions." Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="TermsAndConditions.aspx.cs" Inherits="StudentVibes.TermsAndConditions" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h2 align="center">Terms and Conditions</h2>
    <script>
        $(document).ready(function () {
            /*! Fades in page on load */
            $('body').css('display', 'none');
            $('body').fadeIn(800);
        });
        </script>
    <p>
                        1. Definitions.
            a. "STUDENT VIBES" shall mean the STUDENT VIBES ®, its employees, officers, directors, and all other persons or entities affiliated with STUDENT VIBES responsible for creating, maintaining, and publishing this Site.<br />
            b. "Content" shall mean all materials, information and images contained on the Site, including but not limited to, trademarks, copyrightable materials, advertisements, data, text, graphics, files, photos, software and video.<br />
            c. "Site" shall mean the Internet site located at the URL address http://www.studentvibes.co.za <br />
            d. "User" shall mean any person or entity that accesses or uses the Site in any manner.<br />
            2. Limited License Only. Users of this Site are granted a limited, nonexclusive license to use the Site Except as permitted herein, Content may not be reproduced, sold, licensed, transferred, modified, distributed, transmitted, used to create derivative works from, published, displayed, or otherwise used or exploited for any purpose without the express written permission of STUDENT VIBES. Users agree not to use this Site or the Content for any illegal or prohibited purpose, or in any manner that could damage, disable, overburden or impair the Site, Users agree that they shall not attempt to gain any unauthorized access to the Site or Content, through password mining, hacking or any other means, or harvest or otherwise collect information about others, including e-mail addresses. Users agree that they will not attempt to obtain any Content not intentionally made available to them at this Site. Users shall not upload any files that contain Trojan horses, viruses, cancel bots, corrupted files, worms, or other programs or software that may damage or interrupt the websites, computers or software of STUDENT VIBES.<br />

            3. Linking to or Framing this Site. Users may not create links to or frame the Site for any purpose without the express written consent of STUDENT VIBES. <br />

            4. Intellectual Property: Copyright © 2004 STUDENT VIBES Cosmetics USA, Inc. All trademarks registered. All rights reserved. In accordance with laws governing literary and artistic property rights or other similar rights, the reproduction or redistribution of the elements that make up the STUDENT VIBES Cosmetics website, in whole or in part, is strictly prohibited without prior written authorization by STUDENT VIBES. Inquires may be directed to info@studentvibes.co.za. All brands cited herein are registered trademarks. <br />

            5. Accuracy of Content & Pricing; .STUDENT VIBES takes reasonable steps to maintain the accuracy and update the Content on the Site. However, STUDENT VIBES. does not and will not make any representations or warranties regarding the accuracy, timeliness or completeness of the Content. Neither does STUDENT VIBES make any commitment to update the Content. STUDENT VIBES reserves the right in its sole discretion to add, remove or otherwise modify the Content and the Site at any time without notice. STUDENT VIBES and declines all responsibility for technical inaccuracies or other errors. STUDENT VIBES Cosmetics declines all responsibility for any difficulties encountered in accessing the site or for any communication line failure. Please note that prices may be subject to change without notification.<br />

            6. DISCLAIMER: THE CONTENT ON THE STUDENT VIBES SITE IS PROVIDED "AS IS" AND TO THE MAXIMUM EXTENT PERMITTEDBY LAW, STUDENT VIBES DISCLAIMS ALL WARRANTIES EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, NONINFRINGEMENT OF INTELLECTUAL PROPERTY, SECURITY AND FITNESS FOR A PARTICULAR PURPOSE. STUDENT VIBES  DOES NOT WARRANT OR GUARANTEE THE ACCURACY, AVAILABILITY,RELIABILITY, ACCESS TO OR UNINTERRUPTED AND ERROR FREE OPERATION OF THE SITE OR THE CONTENT.<br />

            7. LIMITATION OF LIABILITY. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL STUDENT VIBES, ITS OFFICERS, EMPLOYEES, OR AGENTS BE LIABLE FOR ANY DAMAGES, INCLUDING BUT NOT LIMITED TO, ANY DIRECT, SPECIAL, CONSEQUENTIAL, INCIDENTAL OR PUNITIVE DAMAGES, LOSS OF PROFITS, DATA OR PROGRAMS ARISING FROM THE USE, INABILITY TO USE, OR RELIANCE ON THIS SITE OR FROM ANY INFORMATION OR CONTENT DISPLAYED, UPLOADED TO OR DOWNLOADED FROM THIS SITE.  <br />

            8. Modification of Agreement. STUDENT VIBES reserves the right, in its sole discretion, to modify or revise this Agreement at any time without giving notice. Users agree to be bound by any modification or revision of the Agreement upon electronic posting to the Site.<br />

            9. Suspension or Termination of Access. STUDENT VIBES reserves the right, in its sole discretion, to suspend or terminate a User's access to the Site for any reason, including but not limited to, a User's breach of this Agreement.<br />

            10. Indemnification. User agrees to defend, indemnify and hold harmless STUDENT VIBES from all actions, liabilities, losses, claims, damages, costs, and expenses including but not limited to reasonable attorney's fees, resulting from the User's violation of any term of this Agreement or alleged illegal use of this Site.<br />

            11. Reservation of Rights.  All rights not expressly granted or addressed herein are reserved by STUDENT VIBES. <br />

            12. Choice of Law; Jurisdiction and Venue. This Agreement shall be governed in accordance with the laws of the State of Western Cape, excluding its conflict of law principles. In the event a dispute arises between User and STUDENT VIBES from this Agreement or use of the Site, such dispute shall be submitted to a state or federal court with appropriate jurisdiction located in the City and City of Cape Town, Western Cape, USA.<br />

            13. Ownership of Site and Content.  All right, title and interest in and to the Site and Content belong solely and exclusively to STUDENT VIBES. The Site and the Content are protected by applicable federal, state and local laws, including but not limited to copyright and trademark laws.<br />

            14. USER'S CONSENT TO BE LEGALLY BOUND TO AGREEMENT. IN CONSIDERATION OF BEING ALLOWED TO USE THE SITE, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT AS SET FORTH ABOVE. USE OF THE SITE IN ANY MANNER SHALL CONSTITUTE YOUR ACCEPTANCE OF THIS AGREEMENT AND YOUR ASSENT TO BE LEGALLY BOUND BY THIS AGREEMENT. IF YOU DO NOT AGREE TO BE LEGALLY BOUND BY ALL THE TERMS AND CONDITIONS OF THIS AGREEMENT, YOU ARE STRICTLY PROHIBITED FROM ACCESSING AND/OR USING THIS SITE.<br />
            STUDENT VIBES.co.za Terms of Use
            Revised: January 1, 2012
            The STUDENT VIBES.co.za web site (the “Site”) is owned and operated by STUDENT VIBES, Cape Town, Inc. (“STUDENT VIBES”). These terms of use, our Privacy Policy, our Terms and Conditions of Sale and other terms of use and policies which you may find throughout our Site in connection with certain functionality, features or customer service are all deemed a part of and included within these terms of use (collectively, “Terms of Use”). By accessing the Site, you agree to all of the Terms of Use set forth herein. If you do not agree with these Terms of Use, you are not authorized to access the Site.<br />
            1. Changes and Updates; Electronic Notices
            STUDENT VIBES reserves the right to change the Terms of Use by modifying, adding or removing any portion of these Terms of Use. You consent to receive any agreements, notices, disclosures and other communications (collectively, "Notices") to which these Terms of Use refer from us electronically by posting notices on this Site. You agree that all Notices that we provide to you electronically satisfy any legal requirement that such communications be in writing. Changes in these Terms of Use will be effective immediately upon posting.  Your continued use of the Site after any changes to these Terms of Use are posted constitutes your acceptance of these changes.
            STUDENT VIBES may terminate, change, suspend or discontinue any aspect of the Site, including the availability of any features of the Site, at any time. STUDENT VIBES may also impose limits on certain features and services or restrict your access to parts of or the entire web site without notice or liability.

            2. Products and Services for Personal Use<br />
            The products and services available on the Site, and any samples thereof we may provide to you, are for personal use only. You may not sell or resell any of the products or services, or samples thereof you purchase or otherwise receive from us. We reserve the right, with or without notice, to cancel or reduce the quantity of any order to be filled or products or services to be provided to you that we believe, in our sole discretion, may result in the violation of our Terms of Use.
            3. Purchase Related Policies and Procedures<br />
            To view policies and procedures related to orders placed through this Site (such as order processing, shipping and handling, returns and exchanges).
            4. Intellectual Property<br />
            All information and content available on the Site including but not limited to trademarks, logos, text, graphics, images and the compilation and organization thereof (collectively, the "Site Content") is the property of STUDENT VIBES and is protected by United States and international laws, including laws governing copyrights and trademarks.
            Except as set forth in the limited licenses in Section 6 or as required under applicable law, neither the Site Content nor any portion of the Site may be used, reproduced, copied, sold or otherwise exploited without our prior written consent.
            5. Limited Licenses<br />
            We grant you a limited, revocable, non-exclusive license to access and make personal use of the Site. We also grant you a limited, revocable, nonexclusive license to create a hyperlink to the home page of the Site for personal, non-commercial use only. You must retain, without modification, all proprietary notices on the Site or affixed to or contained in the Site.  We may, in our sole discretion, request that you remove any link to the Site, and upon receipt of such request, you shall immediately remove such link and cease any linking unless separately and expressly authorized in writing by us to resume linking.
            You are not authorized to: (a) make any use of the Site or any and/or all Site Content other than personal use; (b) frame or utilize framing techniques to enclose the Site or any portion thereof; (c) modify, reverse engineer or create any derivative works based upon either the Site or any and/or all Site Content; or (d) republish, redistribute, transmit, sell, license or download the Site or any and/or all Site Content (except caching or as necessary to view the Site).
            Any unauthorized use by you of the Site or any of our Site Content shall automatically terminate the limited licenses set forth above.
            6. Your Account<br />
            You may register at our Site if you are over thirteen (13) years of age. You agree to provide only current, complete, accurate and truthful information, and You are responsible for keeping such information current, complete, accurate and truthful. If you are over thirteen (13) years of age and do register, you will have an email address/username and password for your account, and You are responsible for maintaining the confidentiality thereof. You agree to accept responsibility for all activities that occur under your account, username and/or password. 
            7. Third Party Links<br />
            We are not responsible for the content of any websites linked to or from the Site. Links appearing on the Site are for convenience only and are not an endorsement by us of the referenced website. We are in no way responsible for examining or evaluating, and we do not warrant the offerings of, any websites linked to or from the Site, nor do we assume any responsibility or liability for the content, products or services of such pages and websites. 
            8. User Content<br />
            When you transmit, upload, post, e-mail or otherwise make available text, graphics, images, or other materials ("User Content") on the Site, you are entirely responsible for such User Content. User Content will be treated as non-proprietary and non-confidential.  Subject to the terms of our Privacy Policy, by transmitting or posting any User Content, you hereby grant us full ownership of the User Content as if we had created, developed and posted the User Content for our own purposes. We reserve the right to copy, use, reproduce, modify, adapt, translate, publish, license, distribute, sell or assign the User Content in any way as we see fit, including but not limited to copying in whole or in part, creating derivative works from, distributing and displaying any User Content in any form, media, or technology, whether now known or hereafter developed, alone or as part of other works, or using the User Content within or in connection with our products or services. You also acknowledge that your User Content will not be returned and we may use your User Content, and any ideas, concepts or know how contained therein, without payment of money or any other form of consideration, for any purpose including, without limitation, developing, manufacturing, distributing and marketing products.
            You represent and warrant that you own or otherwise control the rights to your User Content, and you agree not to transmit, upload, post, e-mail or otherwise make available on the Site any User Content that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party.  You agree to indemnify us for all claims arising from or in connection with any claims to any rights in any User Content or any damages arising from any User Content.
            We do not guarantee the accuracy, integrity or quality of User Content.  You understand that by using the Site, you may be exposed to User Content that is offensive, indecent or objectionable to you. Under no circumstances will we be liable in any way for any User Content.
            You acknowledge that we have the right (but not the obligation) in our sole discretion to remove any User Content that violates these Terms of Use.
            9. Representations and Warranties; Limitation of Liability<br />
            THE SITE IS PRESENTED "AS IS." WE MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND WHATSOEVER, EXPRESS OR IMPLIED, IN CONNECTION WITH THESE TERMS OF USE OR THE SITE, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT OR FITNESS FOR A PARTICULAR PURPOSE, EXCEPT TO THE EXTENT SUCH REPRESENTATIONS AND WARRANTIES ARE NOT LEGALLY EXCLUDABLE.
            We attempt to be as accurate as possible when describing our products on the Site; however, to the extent permitted by applicable law, we do not warrant that the product descriptions, colours, information or other content available on the Site are accurate, complete, reliable, current or error-free.
            YOU AGREE THAT, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, WE WILL NOT BE RESPONSIBLE OR LIABLE (WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE), UNDER ANY CIRCUMSTANCES, FOR ANY INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY KIND (INCLUDING LOST PROFITS) RELATED TO THE SITE OR YOUR USE THEREOF REGARDLESS OF THE FORM OF ACTION WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND IN NO EVENT SHALL OUR MAXIMUM AGGREGATE LIABILITY EXCEED ONE HUNDRED DOLLARS ($100.00).
            YOU AGREE THAT NO CLAIMS OR ACTION ARISING OUT OF, OR RELATED TO, THE USE OF THE SITE OR THESE TERMS OF USE MAY BE BROUGHT BY YOU MORE THAN ONE (1) YEAR AFTER THE CAUSE OF ACTION RELATING TO SUCH CLAIM OR ACTION AROSE.
            10. Indemnification; Compliance with Laws<br />
            You agree to defend, indemnify and hold us harmless for any loss, damages or costs, including reasonable attorneys' fees, resulting from any third party claim, action, or demand resulting from your use of the Site or breach of these Terms of Use. You also agree to indemnify us for any loss, damages, or costs, including reasonable attorneys' fees, resulting from your use of software robots, spiders, crawlers, or similar data gathering and extraction tools, or any other action you take that imposes an unreasonable burden or load on our infrastructure.
            You shall act always in accordance with the law, custom and in good faith. Without limiting the generality of any other provision of these Terms of Use, if you default negligently or willfully in any of the obligations set forth in these Terms of Use, you shall be liable for all the losses and damages that this may cause to STUDENT VIBES.co.za, our affiliates, partners or licensors.
            11. Disputes<br />
            With respect to any dispute regarding the Site, all rights and obligations and all actions contemplated by these Terms of Use shall be governed by the laws of Western Cape, as if the Terms of Use were a contract wholly entered into and wholly performed within Western Cape. Any dispute relating in any way to your visit to the Site shall be submitted to confidential arbitration in Western Cape and you submit to the jurisdiction and proceedings thereof, except that, to the extent you have in any manner violated or threatened to violate our intellectual property rights or otherwise have a cause of action in equity, we may seek injunctive or other appropriate relief in any court of competent jurisdiction and you consent to jurisdiction and venue in any such court for such purposes. Arbitration under this agreement shall be conducted under the Consumer-Related Disputes Supplementary Rules then prevailing with the American Arbitration Association. The arbitrator's award shall be binding and may be entered as a judgment in any court of competent jurisdiction. To the fullest extent permitted by applicable law, no arbitration under these Terms of Use shall be joined to an arbitration involving any other party subject to this Terms of Use, whether through class arbitration proceedings or otherwise.
            12. General<br />
            You acknowledge and agree that these Terms of Use constitute the complete and exclusive agreement between us concerning your use of the Site, and supersede and govern all prior proposals, agreements, or other communications.
            Nothing contained in these Terms of Use shall be construed as creating any agency, partnership, or other form of joint enterprise between us. Our failure to require your performance of any provision hereof shall not affect our full right to require such performance at any time thereafter, nor shall our waiver of a breach of any provision hereof be taken or held to be a waiver of the provision itself. In the event that any provision of these Terms of Use shall be unenforceable or invalid under any applicable law or be so held by any applicable arbitral award or court decision, such unenforceability or invalidity shall not render these Terms of Use unenforceable or invalid as a whole but these Terms of Use shall be modified, to the extent possible, by the adjudicating entity to most fully reflect the original intent of the parties as reflected in the original provision..
            If you have any questions regarding these Terms of Use, please email us at info@studentvibes.co.za <br />

        </p>
</asp:Content>